/Z003_caracteresEspeciales/nbproject/private/
/Z003_caracteresEspeciales/build/
/Z004_claseScanner/nbproject/private/
/Z004_claseScanner/build/
/Z014_Ejercicio_Libro/nbproject/private/
/Z014_Ejercicio_Libro/build/
/Z015_tiposPrimitivosEnteros/nbproject/private/
/Z015_tiposPrimitivosEnteros/build/
/Z018_inferencia_Var/nbproject/private/
/Z018_inferencia_Var/build/
/Z019_tipoChar/nbproject/private/
/Z019_tipoChar/build/
/Z020_Tipo_Booleano/nbproject/private/
/Z020_Tipo_Booleano/build/
/Z021_conversionTipos/nbproject/private/
/Z021_conversionTipos/build/
/Z022_conversionTiposPrimitivos/nbproject/private/
/Z022_conversionTiposPrimitivos/build/
/Z023_ejercicioTiendaDeLibros/nbproject/private/
/Z023_ejercicioTiendaDeLibros/build/
/operadoresMatematicos/nbproject/private/
/operadoresMatematicos/build/
/Z024_operadoresMatematicos/nbproject/private/
/Z024_operadoresMatematicos/build/
